<% layout('layouts/admin') -%>
<div class="row">
    <div class="col-sm-6 col-md-6 col-lg-3">
        <a href="/user">
        <div class="widget-bg-color-icon card-box">
            <div class="bg-icon bg-icon-info pull-left">
                <i class=" fa fa-building text-info"></i>
            </div>
            <div class="text-right">
                <h3 class="text-dark"><b>
                        <%= record.tUser %>
                    </b></h3>
                <p class="text-muted">Total User </p>
            </div>
            <div class="clearfix"></div>
        </div>
    </a>
    </div>
    <div class="col-sm-6 col-md-6 col-lg-3">
        <a href="/barber">
        <div class="widget-bg-color-icon card-box">
            <div class="bg-icon bg-icon-info pull-left">
                <i class="md md-account-child text-info"></i>
            </div>
            <div class="text-right">
                <h3 class="text-dark"><b>
                        <%= record.tBarber %>

                    </b></h3>
                <p class="text-muted">Total Barbers</p>
            </div>
            <div class="clearfix"></div>
        </div>
        </a>
    </div>

    <div class="col-sm-6 col-md-6 col-lg-3">
        <a href="/booking">
        <div class="widget-bg-color-icon card-box">
            <div class="bg-icon bg-icon-info pull-left">
                <i class="md md-account-child text-info"></i>
            </div>
            <div class="text-right">
                <h3 class="text-dark"><b>
                        <%= record.tBooking %>

                    </b></h3>
                <p class="text-muted">Total Bookings</p>
            </div>
            <div class="clearfix"></div>
        </div>
        </a>
    </div>

    <div class="col-sm-6 col-md-6 col-lg-3">
        <a href="">
        <div class="widget-bg-color-icon card-box">
            <div class="bg-icon bg-icon-info pull-left">
                <i class="md md-account-child text-info"></i>
            </div>
            <div class="text-right">
                <h3 class="text-dark"><b>
                        <%= record.tRequest %>

                    </b></h3>
                <p class="text-muted">Total Request</p>
            </div>
            <div class="clearfix"></div>
        </div>
        </a>
    </div>

    <div class="col-sm-6 col-md-6 col-lg-3">
        <a href="">
        <div class="widget-bg-color-icon card-box">
            <div class="bg-icon bg-icon-info pull-left">
                <i class="md md-account-child text-info"></i>
            </div>
            <div class="text-right">
                <h3 class="text-dark"><b>
                        <%= record.tCancelRequest %>

                    </b></h3>
                <p class="text-muted">Total Cancel Request</p>
            </div>
            <div class="clearfix"></div>
        </div>
        </a>
    </div>

    <div class="col-sm-6 col-md-6 col-lg-3">
        <a href="">
        <div class="widget-bg-color-icon card-box">
            <div class="bg-icon bg-icon-info pull-left">
                <i class="md md-account-child text-info"></i>
            </div>
            <div class="text-right">
                <h3 class="text-dark"><b>
                        <%= record.tCancelBooking %>

                    </b></h3>
                <p class="text-muted">Total Cancel Appointments </p>
            </div>
            <div class="clearfix"></div>
        </div>
        </a>
    </div>

    <div class="col-sm-6 col-md-6 col-lg-3">
        <a href="">
        <div class="widget-bg-color-icon card-box">
            <div class="bg-icon bg-icon-info pull-left">
                <i class="md md-account-child text-info"></i>
            </div>
            <div class="text-right">
                <h3 class="text-dark"><b>
                        <%= record.tCompletedBooking %>

                    </b></h3>
                <p class="text-muted">Total Completed Appointments </p>
            </div>
            <div class="clearfix"></div>
        </div>
        </a>
    </div>

</div>
